<html>

<head>
    <title>Company Profile</title>
    <link rel="stylesheet" href="companyProfile.css">
</head>

<body>
    <div class="main-container">
        <div class="top-container container">

            <div class="profile block">
                <div class="profile-description">
                    <h1 class="user-name">=>Company Name</h1>
                    <h2 class= user-name><span>Domain:</span>=>Information Technology</h2>
                    <span class="hashtag">=>#InvestmentDomain</span> <span class="hashtag">=>#InvestmentDomain</span>
                    <p class="scnd-font-color">=>Lorem ipsum dolor sit amet consectetuer adipiscing Lorem ipsum dolor sit
                        amet consectetuer adipiscing Lorem ipsum dolor sit amet consectetuer adipiscing Lorem ipsum
                        dolor sit amet consectetuer adipiscing Lorem ipsum dolor sit amet consectetuer adipiscing </p>
                </div>
                <div class="bottom">
                    <a href="=>link" class="btn"><span>Visit website</span></a>
                  </div>
                
            </div>
        </div>
        <div>

            <div class="main-container">
                
                <div class="left-container container">
                    <div class="menu-box block">

                        <h2 class="titular">Contact Info</h2>
                        <div class="vcard">
                            <div class="bottom">                              
                              <address class="vertical">=>1031 19th Street N, Bessemer, AL 35020</address>
                              
                              <div class="vcontact">
                                <span class="phone">Phone: =>(205) 429-8046</span> <br/>
                                <span class="mobile">Mobile: =>(205) 123-4567</span> <br/>
                                <span class="email">Email: =>bJones@fastenal.com</span>
                              </div>
                            </div>
                          </div> 

                    </div>
                </div>
                
                <div class="middle-container container">
                    <div class="menu-box block">
                        
                        <h2 class="titular">Info</h2>
                        <ul class="menu-box-menu">

                            <li>
                                <a class="menu-box-tab" href="#8"><span
                                        class="icon entypo-cc-by scnd-font-color"></span>Employee Count<div
                                        class="menu-box-number">=>11-50</div></a>
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#10"><span
                                        class="icon entypo-calendar scnd-font-color"></span>Founded<div
                                        class="menu-box-number">=>2019</div></a>
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#6"><span
                                    class="icon entypo-info-circled scnd-font-color"></span>Number of Funding Rounds: <div
                                        class="menu-box-number">=>2</div></a>
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#6"><span
                                    class="icon entypo-right-open scnd-font-color"></span>Total Funding: <div class="menu-box-number">USD
                                        =>60.6M</div></a>
                            </li>
                        </ul>
                    </div>
                </div>

                
                <div class="right-container container">
                    <div>
                        <ul class="people-list">
                            <li class="people-li">=>John&nbsp;Smith</li>
                            <li class="people-li">=>John&nbsp;Smith</li>
                            <li class="people-li">=>John&nbsp;Smith</li>
                        </ul>
                    </div>
                    <ul class="social block">
                        
                        <li><a href="=>">
                                <div class="facebook icon"><span class="zocial-facebook"></span></div>
                                <h2 class="facebook titular">VISIT FACEBOOK</h2></a>
                        </li>
                        <li><a href="=>">
                                <div class="twitter icon"><span class="zocial-twitter"></span></div>
                                <h2 class="twitter titular">VISIT TWITTER</h2></a>
                        </li>
                        <li><a href="=>">
                                
                                <h2 class="googleplus titular">VISIT WEBPAGE</h2></a>
                        </li>
                    </ul>


                </div> <!-- end right-container -->
            </div> <!-- end main-container -->
        </div>
    </div>

</body>

</html>