<html>

<head>
    <title>Company Profile</title>
    <link rel="stylesheet" href="investorProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main-container">
        <div class="top-container container">

            <div class="profile block">
                <!-- PROFILE (MIDDLE-CONTAINER) 
                <div class="profile-picture big-profile-picture clear">
                    <img width="150px" alt="Anne Hathaway picture"
                        src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
                </div>
                -->
                <div class="profile-description">
                    <h1 class="user-name">=>Investor Name</h1>
                    <h2 class=user-name><span>Domain:</span>=>Information Technology</h2>
                    <span class="hashtag">=>#InvestmentDomain</span> <span class="hashtag">=>#InvestmentDomain</span>
                    <p class="scnd-font-color">=>Lorem ipsum dolor sit amet consectetuer adipiscing Lorem ipsum dolor
                        sit
                        amet consectetuer adipiscing Lorem ipsum dolor sit amet consectetuer adipiscing Lorem ipsum
                        dolor sit amet consectetuer adipiscing Lorem ipsum dolor sit amet consectetuer adipiscing </p>
                </div>
                <div class="bottom">
                    <a href="=>link" class="btn"><span>Visit website</span></a>
                </div>

            </div>
        </div>
        <div>

            <div class="main-container">

                <!-- HEADER -->
                <!-- LEFT-CONTAINER -->
                <div class="left-container container">
                    <div class="menu-box block">

                        <h2 class="titular">Contact Info</h2>
                        <div class="vcard">
                            <div class="bottom">
                                <div class="vcontact">
                                    <span class="phone">Phone: =>(205) 429-8046</span> <br />
                                    <span class="mobile">Mobile: =>(205) 123-4567</span> <br />
                                    <span class="email">Email: =>bJones@fastenal.com</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- MIDDLE-CONTAINER -->
                <div class="middle-container container">
                    <div class="menu-box block">
                        <h2 class="titular">Invested Companies</h2>
                        <ul class="m-d expand-list">
                            <li data-md-content="200">
                                <label name="tab" for="tab1" tabindex="-1" class="tab_lab"
                                    role="tab">=>CompanyName</label>
                                <input type="checkbox" class="tab" id="tab1" tabindex="0" />
                                <span class="open-close-icon">
                                    <span class="entypo-plus"></span>
                                    <span class="entypo-minus"></span>
                                </span>
                                <div class="content">
                                    <ul class="menu-box-menu">
                                        <li>
                                            <a class="menu-box-tab">Total Funding <div class="menu-box-number">USD
                                                    =>60.6M</div></a>
                                        </li>
                                        <li>
                                            <a class="menu-box-tab">Stage <div class="menu-box-number">A</div></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- RIGHT-CONTAINER -->
                <div class="right-container container">

                    <ul class="social block">
                        <!-- SOCIAL (MIDDLE-CONTAINER) -->
                        <li><a href="=>">
                                <div class="facebook icon"><span class="zocial-facebook"></span></div>
                                <h2 class="facebook titular">VISIT FACEBOOK</h2>
                        </li></a>
                        <li><a href="=>">
                                <div class="twitter icon"><span class="zocial-twitter"></span></div>
                                <h2 class="twitter titular">VISIT TWITTER</h2>
                        </li></a>
                        <li><a href="=>">

                                <h2 class="googleplus titular">VISIT WEBPAGE</h2>
                        </li></a>
                    </ul>


                </div> <!-- end right-container -->
            </div> <!-- end main-container -->
        </div>
    </div>
</body>

</html>